openapi: 3.0.2
info:
  description: "The RESTful Pokémon API"
  title: PokéAPI
  version: "2.0.0"

servers:
  - url: https://pokeapi.co/api/v2/

paths:
  /api/v2/ability/:
    get:
      operationId: listAbilitys
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/ability/{id}/:
    get:
      operationId: retrieveAbility
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this ability.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  is_main_series:
                    type: boolean
                  generation:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                  names:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - name
                        - language
                    readOnly: true
                  effect_entries:
                    type: array
                    items:
                      properties:
                        effect:
                          type: string
                          maxLength: 6000
                        short_effect:
                          type: string
                          maxLength: 300
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - effect
                        - short_effect
                        - language
                    readOnly: true
                  effect_changes:
                    type: array
                    items:
                      properties:
                        version_group:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                        effect_entries:
                          type: array
                          items:
                            properties:
                              effect:
                                type: string
                                maxLength: 6000
                              language:
                                properties:
                                  name:
                                    type: string
                                    maxLength: 100
                                  url:
                                    type: string
                                    readOnly: true
                                required:
                                  - name
                                type: object
                            required:
                              - effect
                              - language
                          readOnly: true
                      required:
                        - version_group
                    readOnly: true
                  flavor_text_entries:
                    type: array
                    items:
                      properties:
                        flavor_text:
                          type: string
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                        version_group:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - flavor_text
                        - language
                        - version_group
                    readOnly: true
                  pokemon:
                    type: string
                    readOnly: true
                required:
                  - name
                  - generation
          description: ""
  /api/v2/berry/:
    get:
      operationId: listBerrys
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/berry/{id}/:
    get:
      operationId: retrieveBerry
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this berry.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  growth_time:
                    type: integer
                    maximum: 2147483647
                    minimum: -2147483648
                  max_harvest:
                    type: integer
                    maximum: 2147483647
                    minimum: -2147483648
                  natural_gift_power:
                    type: integer
                    maximum: 2147483647
                    minimum: -2147483648
                  size:
                    type: integer
                    maximum: 2147483647
                    minimum: -2147483648
                  smoothness:
                    type: integer
                    maximum: 2147483647
                    minimum: -2147483648
                  soil_dryness:
                    type: integer
                    maximum: 2147483647
                    minimum: -2147483648
                  firmness:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                  flavors:
                    type: string
                    readOnly: true
                  item:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                  natural_gift_type:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                required:
                  - name
                  - growth_time
                  - max_harvest
                  - natural_gift_power
                  - size
                  - smoothness
                  - soil_dryness
                  - firmness
                  - item
                  - natural_gift_type
          description: ""
  /api/v2/berry-firmness/:
    get:
      operationId: listBerryFirmness
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/berry-firmness/{id}/:
    get:
      operationId: retrieveBerryFirmness
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this berry firmness.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  berries:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
                    readOnly: true
                  names:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - name
                        - language
                    readOnly: true
                required:
                  - name
          description: ""
  /api/v2/berry-flavor/:
    get:
      operationId: listBerryFlavors
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/berry-flavor/{id}/:
    get:
      operationId: retrieveBerryFlavor
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this berry flavor.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  berries:
                    type: string
                    readOnly: true
                  contest_type:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                  names:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - name
                        - language
                    readOnly: true
                required:
                  - name
                  - contest_type
          description: ""
  /api/v2/characteristic/:
    get:
      operationId: listCharacteristics
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        url:
                          type: string
                          readOnly: true
          description: ""
  /api/v2/characteristic/{id}/:
    get:
      operationId: retrieveCharacteristic
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this characteristic.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  gene_modulo:
                    type: integer
                  possible_values:
                    type: string
                    readOnly: true
                  highest_stat:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                  descriptions:
                    type: array
                    items:
                      properties:
                        description:
                          type: string
                          maxLength: 1000
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - language
                    readOnly: true
                required:
                  - gene_modulo
                  - highest_stat
          description: ""
  /api/v2/contest-type/:
    get:
      operationId: listContestTypes
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/contest-type/{id}/:
    get:
      operationId: retrieveContestType
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this contest type.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  berry_flavor:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                    readOnly: true
                  names:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        color:
                          type: string
                          maxLength: 10
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - name
                        - color
                        - language
                    readOnly: true
                required:
                  - name
          description: ""
  /api/v2/contest-effect/:
    get:
      operationId: listContestEffects
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        url:
                          type: string
                          readOnly: true
          description: ""
  /api/v2/contest-effect/{id}/:
    get:
      operationId: retrieveContestEffect
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this contest effect.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  appeal:
                    type: integer
                    maximum: 2147483647
                    minimum: -2147483648
                  jam:
                    type: integer
                    maximum: 2147483647
                    minimum: -2147483648
                  effect_entries:
                    type: array
                    items:
                      properties:
                        effect:
                          type: string
                          maxLength: 6000
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - effect
                        - language
                    readOnly: true
                  flavor_text_entries:
                    type: array
                    items:
                      properties:
                        flavor_text:
                          type: string
                          maxLength: 500
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - flavor_text
                        - language
                    readOnly: true
                required:
                  - appeal
                  - jam
          description: ""
  /api/v2/egg-group/:
    get:
      operationId: listEggGroups
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/egg-group/{id}/:
    get:
      operationId: retrieveEggGroup
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this egg group.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  names:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - name
                        - language
                    readOnly: true
                  pokemon_species:
                    type: string
                    readOnly: true
                required:
                  - name
          description: ""
  /api/v2/encounter-method/:
    get:
      operationId: listEncounterMethods
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/encounter-method/{id}/:
    get:
      operationId: retrieveEncounterMethod
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this encounter method.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  order:
                    type: integer
                    maximum: 2147483647
                    minimum: -2147483648
                    nullable: true
                  names:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - name
                        - language
                    readOnly: true
                required:
                  - name
          description: ""
  /api/v2/encounter-condition/:
    get:
      operationId: listEncounterConditions
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/encounter-condition/{id}/:
    get:
      operationId: retrieveEncounterCondition
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this encounter condition.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  values:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
                    readOnly: true
                  names:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - name
                        - language
                    readOnly: true
                required:
                  - name
          description: ""
  /api/v2/encounter-condition-value/:
    get:
      operationId: listEncounterConditionValues
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/encounter-condition-value/{id}/:
    get:
      operationId: retrieveEncounterConditionValue
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this encounter condition value.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  condition:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                  names:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - name
                        - language
                    readOnly: true
                required:
                  - name
                  - condition
          description: ""
  /api/v2/evolution-chain/:
    get:
      operationId: listEvolutionChains
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        url:
                          type: string
                          readOnly: true
          description: ""
  /api/v2/evolution-chain/{id}/:
    get:
      operationId: retrieveEvolutionChain
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this evolution chain.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  baby_trigger_item:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                  chain:
                    type: string
                    readOnly: true
                required:
                  - baby_trigger_item
          description: ""
  /api/v2/evolution-trigger/:
    get:
      operationId: listEvolutionTriggers
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/evolution-trigger/{id}/:
    get:
      operationId: retrieveEvolutionTrigger
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this evolution trigger.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  names:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - name
                        - language
                    readOnly: true
                  pokemon_species:
                    type: string
                    readOnly: true
                required:
                  - name
          description: ""
  /api/v2/generation/:
    get:
      operationId: listGenerations
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/generation/{id}/:
    get:
      operationId: retrieveGeneration
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this generation.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  abilities:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
                    readOnly: true
                  main_region:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                  moves:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
                    readOnly: true
                  names:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - name
                        - language
                    readOnly: true
                  pokemon_species:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
                    readOnly: true
                  types:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
                    readOnly: true
                  version_groups:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
                    readOnly: true
                required:
                  - name
                  - main_region
          description: ""
  /api/v2/gender/:
    get:
      operationId: listGenders
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/gender/{id}/:
    get:
      operationId: retrieveGender
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this gender.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  pokemon_species_details:
                    type: string
                    readOnly: true
                  required_for_evolution:
                    type: string
                    readOnly: true
                required:
                  - name
          description: ""
  /api/v2/growth-rate/:
    get:
      operationId: listGrowthRates
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/growth-rate/{id}/:
    get:
      operationId: retrieveGrowthRate
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this growth rate.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  formula:
                    type: string
                    maxLength: 500
                  descriptions:
                    type: array
                    items:
                      properties:
                        description:
                          type: string
                          maxLength: 1000
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - language
                    readOnly: true
                  levels:
                    type: array
                    items:
                      properties:
                        level:
                          type: integer
                          maximum: 2147483647
                          minimum: -2147483648
                        experience:
                          type: integer
                          maximum: 2147483647
                          minimum: -2147483648
                      required:
                        - level
                        - experience
                    readOnly: true
                  pokemon_species:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
                    readOnly: true
                required:
                  - name
                  - formula
          description: ""
  /api/v2/item/:
    get:
      operationId: listItems
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/item/{id}/:
    get:
      operationId: retrieveItem
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this item.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  cost:
                    type: integer
                    maximum: 2147483647
                    minimum: -2147483648
                    nullable: true
                  fling_power:
                    type: integer
                    maximum: 2147483647
                    minimum: -2147483648
                    nullable: true
                  fling_effect:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                  attributes:
                    type: string
                    readOnly: true
                  category:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                  effect_entries:
                    type: array
                    items:
                      properties:
                        effect:
                          type: string
                          maxLength: 6000
                        short_effect:
                          type: string
                          maxLength: 300
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - effect
                        - short_effect
                        - language
                    readOnly: true
                  flavor_text_entries:
                    type: array
                    items:
                      properties:
                        text:
                          type: string
                        version_group:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - text
                        - version_group
                        - language
                    readOnly: true
                  game_indices:
                    type: array
                    items:
                      properties:
                        game_index:
                          type: integer
                          maximum: 2147483647
                          minimum: -2147483648
                        generation:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - game_index
                        - generation
                    readOnly: true
                  names:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - name
                        - language
                    readOnly: true
                  held_by_pokemon:
                    type: string
                    readOnly: true
                  sprites:
                    type: string
                    readOnly: true
                  baby_trigger_for:
                    type: string
                    readOnly: true
                  machines:
                    type: string
                    readOnly: true
                required:
                  - name
                  - fling_effect
                  - category
          description: ""
  /api/v2/item-category/:
    get:
      operationId: listItemCategorys
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/item-category/{id}/:
    get:
      operationId: retrieveItemCategory
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this item category.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  items:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
                    readOnly: true
                  names:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - name
                        - language
                    readOnly: true
                  pocket:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                required:
                  - name
                  - pocket
          description: ""
  /api/v2/item-attribute/:
    get:
      operationId: listItemAttributes
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/item-attribute/{id}/:
    get:
      operationId: retrieveItemAttribute
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this item attribute.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  descriptions:
                    type: array
                    items:
                      properties:
                        description:
                          type: string
                          maxLength: 1000
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - language
                    readOnly: true
                  items:
                    type: string
                    readOnly: true
                  names:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - name
                        - language
                    readOnly: true
                required:
                  - name
          description: ""
  /api/v2/item-fling-effect/:
    get:
      operationId: listItemFlingEffects
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/item-fling-effect/{id}/:
    get:
      operationId: retrieveItemFlingEffect
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this item fling effect.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  effect_entries:
                    type: array
                    items:
                      properties:
                        effect:
                          type: string
                          maxLength: 6000
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - effect
                        - language
                    readOnly: true
                  items:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
                    readOnly: true
                required:
                  - name
          description: ""
  /api/v2/item-pocket/:
    get:
      operationId: listItemPockets
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/item-pocket/{id}/:
    get:
      operationId: retrieveItemPocket
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this item pocket.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  categories:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
                    readOnly: true
                  names:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - name
                        - language
                    readOnly: true
                required:
                  - name
          description: ""
  /api/v2/language/:
    get:
      operationId: listLanguages
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/language/{id}/:
    get:
      operationId: retrieveLanguage
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this language.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  official:
                    type: boolean
                  iso639:
                    type: string
                    maxLength: 10
                  iso3166:
                    type: string
                    maxLength: 2
                  names:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - name
                        - language
                    readOnly: true
                required:
                  - name
                  - iso639
                  - iso3166
          description: ""
  /api/v2/location/:
    get:
      operationId: listLocations
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/location/{id}/:
    get:
      operationId: retrieveLocation
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this location.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  region:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                  names:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - name
                        - language
                    readOnly: true
                  game_indices:
                    type: array
                    items:
                      properties:
                        game_index:
                          type: integer
                          maximum: 2147483647
                          minimum: -2147483648
                        generation:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - game_index
                        - generation
                    readOnly: true
                  areas:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
                    readOnly: true
                required:
                  - name
                  - region
          description: ""
  /api/v2/location-area/:
    get:
      operationId: listLocationAreas
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/location-area/{id}/:
    get:
      operationId: retrieveLocationArea
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this location area.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  game_index:
                    type: integer
                    maximum: 2147483647
                    minimum: -2147483648
                  encounter_method_rates:
                    type: string
                    readOnly: true
                  location:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                  names:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - name
                        - language
                    readOnly: true
                  pokemon_encounters:
                    type: string
                    readOnly: true
                required:
                  - name
                  - game_index
                  - location
          description: ""
  /api/v2/machine/:
    get:
      operationId: listMachines
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        url:
                          type: string
                          readOnly: true
          description: ""
  /api/v2/machine/{id}/:
    get:
      operationId: retrieveMachine
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this machine.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  item:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                  version_group:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                  move:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                required:
                  - item
                  - version_group
                  - move
          description: ""
  /api/v2/move/:
    get:
      operationId: listMoves
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        url:
                          type: string
                          readOnly: true
                      required:
                        - name
          description: ""
  /api/v2/move/{id}/:
    get:
      operationId: retrieveMove
      description: ""
      parameters:
        - name: id
          in: path
          required: true
          description: A unique integer value identifying this move.
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                    readOnly: true
                  name:
                    type: string
                    maxLength: 100
                  accuracy:
                    type: integer
                    maximum: 2147483647
                    minimum: -2147483648
                    nullable: true
                  effect_chance:
                    type: integer
                  pp:
                    type: integer
                    maximum: 2147483647
                    minimum: -2147483648
                    nullable: true
                  priority:
                    type: integer
                    maximum: 2147483647
                    minimum: -2147483648
                    nullable: true
                  power:
                    type: integer
                    maximum: 2147483647
                    minimum: -2147483648
                    nullable: true
                  contest_combos:
                    type: string
                    readOnly: true
                  contest_type:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                  contest_effect:
                    properties:
                      url:
                        type: string
                        readOnly: true
                    type: object
                  damage_class:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                  effect_entries:
                    type: string
                    readOnly: true
                  effect_changes:
                    type: string
                    readOnly: true
                  generation:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                  meta:
                    properties:
                      ailment:
                        properties:
                          name:
                            type: string
                            maxLength: 100
                          url:
                            type: string
                            readOnly: true
                        required:
                          - name
                        type: object
                      category:
                        properties:
                          name:
                            type: string
                            maxLength: 100
                          url:
                            type: string
                            readOnly: true
                        required:
                          - name
                        type: object
                      min_hits:
                        type: integer
                        maximum: 2147483647
                        minimum: -2147483648
                        nullable: true
                      max_hits:
                        type: integer
                        maximum: 2147483647
                        minimum: -2147483648
                        nullable: true
                      min_turns:
                        type: integer
                        maximum: 2147483647
                        minimum: -2147483648
                        nullable: true
                      max_turns:
                        type: integer
                        maximum: 2147483647
                        minimum: -2147483648
                        nullable: true
                      drain:
                        type: integer
                        maximum: 2147483647
                        minimum: -2147483648
                        nullable: true
                      healing:
                        type: integer
                        maximum: 2147483647
                        minimum: -2147483648
                        nullable: true
                      crit_rate:
                        type: integer
                        maximum: 2147483647
                        minimum: -2147483648
                        nullable: true
                      ailment_chance:
                        type: integer
                        maximum: 2147483647
                        minimum: -2147483648
                        nullable: true
                      flinch_chance:
                        type: integer
                        maximum: 2147483647
                        minimum: -2147483648
                        nullable: true
                      stat_chance:
                        type: integer
                        maximum: 2147483647
                        minimum: -2147483648
                        nullable: true
                    required:
                      - ailment
                      - category
                    type: object
                    readOnly: true
                  names:
                    type: array
                    items:
                      properties:
                        name:
                          type: string
                          maxLength: 100
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - name
                        - language
                    readOnly: true
                  past_values:
                    type: array
                    items:
                      properties:
                        accuracy:
                          type: integer
                          maximum: 2147483647
                          minimum: -2147483648
                          nullable: true
                        power:
                          type: integer
                          maximum: 2147483647
                          minimum: -2147483648
                          nullable: true
                        pp:
                          type: integer
                          maximum: 2147483647
                          minimum: -2147483648
                          nullable: true
                        effect_chance:
                          type: integer
                        effect_entries:
                          type: string
                          readOnly: true
                        type:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                        version_group:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - effect_chance
                        - type
                        - version_group
                    readOnly: true
                  stat_changes:
                    type: string
                    readOnly: true
                  super_contest_effect:
                    properties:
                      url:
                        type: string
                        readOnly: true
                    type: object
                  target:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                  type:
                    properties:
                      name:
                        type: string
                        maxLength: 100
                      url:
                        type: string
                        readOnly: true
                    required:
                      - name
                    type: object
                  machines:
                    type: string
                    readOnly: true
                  flavor_text_entries:
                    type: array
                    items:
                      properties:
                        flavor_text:
                          type: string
                        language:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                        version_group:
                          properties:
                            name:
                              type: string
                              maxLength: 100
                            url:
                              type: string
                              readOnly: true
                          required:
                            - name
                          type: object
                      required:
                        - flavor_text
                        - language
                        - version_group
                    readOnly: true
                required:
                  - name
                  - effect_chance
                  - contest_type
                  - contest_effect
                  - damage_class
                  - generation
                  - super_contest_effect
                  - target
                  - type
          description: ""
  /api/v2/move-ailment/:
    get:
      operationId: listMoveMetaAilments
      description: ""
      parameters:
        - $ref: "#/components/parameters/offsetParam"
        - $ref: "#/components/parameters/limitParam"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    example: 123
                  next:
                    type: string
                    nullable: true
                  previous:
                    type: string
                    nullable: true
                  results:
                    type: array
                    items:
                      properties:
                        name:
[...]
